body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --background-color: rgb(53, 51, 51);
    --title-color: rgb(72, 102, 185);
    --2-background: rgb(44, 43, 43);
    --3-background: rgb(65, 63, 63);
    --hero-background: rgb(6, 15, 46, 0.3);
    --border-color: rgb(81, 81, 170, 0.8);
    --border-basic: rgb(70, 68, 68);
    --text-color: rgb(235, 235, 235);
    --text-2: rgb(167, 166, 166);
    --shadows: rgb(28, 52, 104);
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--text-2);
    font-size: 20px;
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    transition-property: color;
    transition-duration: 1s;
    cursor: pointer;
}

a:hover {
    color: cornsilk;
}

.header {
    background-color: var(--2-background);
    position: sticky;
    top: 0;
    z-index: 10px;
    padding: 10px 10px 10px 50px;
    max-height: 100px;
    display: flex;
    justify-content: space-between;
}

nav ul {
    display: flex;
    flex-direction: row;
    margin: 30px;
    gap: 60px;
    justify-content: flex-end;
    margin-right: 150px;
}

.main_title {
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    color: var(--title-color);
    font-size: 35px;
    margin-left: 150px;
}

h1 {
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    color: var(--title-color);
    font-size: 35px;
}

.hero_title {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    font-size: 45px;
    margin-top: 100px;
    text-transform: uppercase;
}

.button {
    background-color: var(--border-color);
    border: 0px;
    text-decoration: wavy;
    margin-bottom: 60px;
    pointer-events: auto;
    text-transform: uppercase;
    padding: 8px 8px 8px 8px;
    border-radius: 10px;
    cursor: pointer;
    color: var(--text-color);
    box-shadow: 6px 6px rgb(65, 119, 182, 0.3);
}

.hero {
    background-color: var(--border-basic);
    margin-top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.strong {
    color: var(--text-2);
    font-size: 25px;
    max-width: 450px;
    height: 50px;
    text-align: center;
    margin: 12px 20px 20px 20px;
}

main {
    background-color: var(--background-color);
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 80px;
    justify-content: center;
}

.button_2 {
    box-shadow: 0px 0px;
    text-decoration: wavy;
    margin-bottom: 60px;
    text-transform: uppercase;
    border-radius: 15px;
    background-color: var(--3-background);
    color: var(--text-color);
    padding: 10px 10px 10px 10px;
    margin-top: 40px;
    cursor: pointer;
    transition-property: background-color, color;
    transition-duration: 0.4s;
    border: 0px;
}

.button_2:hover {
    background-color: var(--2-background);
    color: var(--border-color);
}

.card {
    width: 200px;
    overflow: hidden;
    border-radius: 16px;
}

.card_poster {
    position: relative;
}

.card_poster img {
    width: 100%;
}

.bublik {
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.6);
    display: none;
    justify-content: center;
    align-items: center;
}

.card:hover .bublik {
    display: flex;
}

.btn-open {
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

.backdrop {
    position: fixed;
    inset: 0;
    background: rgba(73, 93, 179, 0.75);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.backdrop.is-open {
    display: flex;
}

.modal {
    width: 700px;
    height: 350px;
    background: var(--2-background);
    color: white;
    padding: 30px;
    border-radius: 20px;
    position: relative;

}

.btn-close {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: var();
    border: 0px;
}

.catalog_grid {
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 60px;
    margin: 50px 50px 50px 50px;
}

.card {
    width: 200px;
    height: 300px;
    margin-bottom: 70px;
}

.card_poster img {
    width: 200px;
    height: 300px;
}