body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --background-color: rgb(53, 51, 51);
    --title-color: rgb(72, 102, 185);
    --2-background: rgb(44, 43, 43);
    --3-background: rgb(65, 63, 63);
    --hero-background: rgb(6, 15, 46, 0.3);
    --border-color: rgb(81, 81, 170, 0.8);
    --border-basic: rgb(70, 68, 68);
    --text-color: rgb(235, 235, 235);
    --text-2: rgb(167, 166, 166);
    --shadows: rgb(28, 52, 104);
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--text-2);
    font-size: 20px;
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    transition-property: color;
    transition-duration: 1s;
    cursor: pointer;
}

a:hover {
    color: cornsilk;
}

.header {
    background-color: var(--2-background);
    position: sticky;
    top: 0;
    z-index: 10px;
    padding: 10px 10px 10px 50px;
    max-height: 100px;
    display: flex;
    justify-content: space-between;
}

nav ul {
    display: flex;
    flex-direction: row;
    margin: 30px;
    gap: 60px;
    justify-content: flex-end;
    margin-right: 150px;
}

.main_title {
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    color: var(--title-color);
    font-size: 35px;
    margin-left: 150px;
}

h1 {
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    color: var(--title-color);
    font-size: 35px;
}

.hero_title {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    font-size: 45px;
    margin-top: 100px;
    text-transform: uppercase;
}

.button {
    background-color: var(--border-color);
    border: 0px;
    text-decoration: wavy;
    margin-bottom: 60px;
    pointer-events: auto;
    text-transform: uppercase;
    padding: 8px 8px 8px 8px;
    border-radius: 10px;
    cursor: pointer;
    color: var(--text-color);
    box-shadow: 6px 6px rgb(65, 119, 182, 0.3);
}

.hero {
    background-color: var(--border-basic);
    margin-top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.strong {
    color: var(--text-2);
    font-size: 25px;
    max-width: 450px;
    height: 50px;
    text-align: center;
    margin: 12px 20px 20px 20px;
}

main {
    background-color: var(--background-color);
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 80px;
    justify-content: center;
}

.button_2 {
    box-shadow: 0px 0px;
    text-decoration: wavy;
    margin-bottom: 60px;
    text-transform: uppercase;
    border-radius: 15px;
    background-color: var(--3-background);
    color: var(--text-color);
    padding: 10px 10px 10px 10px;
    margin-top: 40px;
    cursor: pointer;
    transition-property: background-color, color;
    transition-duration: 0.4s;
    border: 0px;
}

.button_2:hover {
    background-color: var(--2-background);
    color: var(--border-color);
}

/* КАРТКА */
.card {
    position: relative;
    width: 200px;
    border-radius: 16px;
    overflow: hidden;
    cursor: pointer;
}

/* ПОСТЕР */
.car_poster {
    position: relative;
}

.car_poster img {
    width: 100%;
    display: block;
    border-radius: 16px;
    transition: transform 0.4s ease;
}

/* ЗАТЕМНЕННЯ */
.bublik {
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.65);

    display: flex;
    justify-content: center;
    align-items: center;

    opacity: 0;
    visibility: hidden;

    transition: all 0.3s ease;
}

/* КНОПКА */
.bublik button {
    padding: 12px 28px;
    border: none;
    border-radius: 30px;
    background-color: white;
    color: #111;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: transform 0.3s ease;
}

/* КАРТКА */
.card {
    position: relative;
    width: 200px;
    border-radius: 16px;
    overflow: hidden;
}

.car_poster {
    position: relative;
}

.car_poster img {
    width: 100%;
    display: block;
    border-radius: 16px;
}

/* OVERLAY */
.bublik {
    position: absolute;
    inset: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    background: rgba(0, 0, 0, 0.6);

    opacity: 0;
    visibility: hidden;

    transition: 0.3s ease;
}


.card:hover .bublik {
    opacity: 1;
    visibility: visible;
}

.btn-open {
    padding: 12px 24px;
    border: none;
    border-radius: 30px;
    background: white;
    color: black;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s ease;
}

.btn-open:hover {
    transform: scale(1.05);
}

.backdrop {
    position: fixed;
    inset: 0;

    background: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(4px);

    display: flex;
    justify-content: center;
    align-items: center;

    opacity: 0;
    visibility: hidden;

    transition: 0.3s ease;

    z-index: 1000;
}

.backdrop.is-open {
    opacity: 1;
    visibility: visible;
}

.modal {
    width: 500px;
    max-width: 90%;
    background: #1d1833;
    color: white;
    padding: 30px;
    border-radius: 20px;
    position: relative;
    text-align: center;
}

.btn-close {
    position: absolute;
    top: 15px;
    right: 15px;

    width: 36px;
    height: 36px;

    border: none;
    border-radius: 50%;

    background: crimson;
    color: white;

    font-size: 18px;
    cursor: pointer;
}

.position h2 {
    margin-bottom: 15px;
    font-size: 28px;
}

.position p {
    margin-bottom: 20px;
    font-size: 18px;
}

.qwe {
    padding: 12px 24px;
    border: none;
    border-radius: 30px;
    background: #4c63ff;
    color: white;
    cursor: pointer;
}